<label>Airport:</label>
<select name="airport">
  <% Object.keys(airports).forEach(a => {
    if(excludes.indexOf(a) < 0){ %>
      <option
        value="<%= a %>"
        <%= a === 'DEN' ? 'selected' : '' %>
      ><%= airports[a] %></option>
    <% }
  }); %>
</select>