<%- include('../partials/header', {title: 'Add Flight'}); %>
<form action="/flights" method="POST">
  <label>Flight No.</label>
  <input name="flightNo" type="number" min="10" max="9999" />
  <br />
  <label>Airline</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Delta">Delta</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <br />
  <%- include('../partials/airport-select'); %>
  <br />
  <label>Departure Time</label>
  <input name="departs" type="datetime-local" value="<%= departs %>" />
  <br />
  <input type="submit" value="Add Flight" />
</form>
<%- include('../partials/footer'); %>
